{% extends 'base.html.twig' %}

{% block title %}Commande n°{{ order.id }} | 3DWWM{% endblock %}

{% block content %}
    <section>
        <h1 class="title">DÉTAILS DE LA COMMANDE</h1>
        <a href="{{ path('app_frontend_account_order_index') }}" class="link">Retour à mes commandes</a>
        <p>
            <br>
            Date de commande : {{ order.createdAt|date('d/m/Y') }}
            <br>
            N° de commande : {{ order.id }}
            <br>
            Total de la commande : {{ ((order.getTotal + order.carrierPrice) / 100) | number_format(2, ',', '.') }}€
        </p>
        <br>
        <hr>
        <br>
        <div class="flex account-details-order">
            <div>
                <h2>Récapitulatif de commande</h2>
                <div class="account-recap-order">
                    <table>
                        <thead>
                            <tr>
                                <th>Produit(s)</th>
                                <th>Quantité</th>
                                <th>Prix</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody class="tbody-bg">
                            {% for element in order.orderDetails %}
                                <tr>
                                    <td>{{ element.product }}</td>
                                    <td>{{ element.quantity }}</td>
                                    <td>{{ (element.price / 100) | number_format(2, ',', '.') }}€</td>
                                    <td>{{ (element.total / 100) | number_format(2, ',', '.') }}€</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <p>
                        <strong>Total articles :</strong> {{ (order.getTotal / 100) | number_format(2, ',', '.') }}€
                    </p>
                </div>
            </div>
            <div>
                <h2>Détails sur l'expédition</h2>
                <div class="account-details-delivery">
                    <p>
                        <strong>Transporteur :</strong> {{ order.carrierName }}
                        <br>
                        <strong>Adresse de livraison :</strong>
                        <br>
                        {{ order.delivery|raw }}
                        <br>
                        <strong>Frais de livraison :</strong> {{ (order.carrierPrice / 100) | number_format(2, ',', '.') }}€
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}