{% extends 'base.html.twig' %}

{% block title %}{{ product.name }} | 3DWWM{% endblock %}

{% block content %}
    <section class="flex display-product">
        <div>
            <img src="/uploads/products/{{ product.image }}" alt="{{ product.name }}">
        </div>
        <div>
            <div class="display-product-content">
                <h1 class="title">{{ product.name }}</h1>
                <p>par <a href="#" class="link">{{ product.designer.name }}</a></p>
                <br>
                <hr>
                <br>
                <p><span>{{ (product.price / 100) | number_format(2, ',', '.') }}€</span></p>
                <br>
                <p>{{ product.description|raw }}</p>
                <br>
                <p>Taille du modèle (mm) : {{ product.size }}</p>
                <p>Catégorie : {{ product.category.name }}</p>
            </div>
            <br>
            <div>
                <a href="{{ path('app_frontend_cart_add', {id: product.id}) }}" class="button">Ajouter au panier</a>
            </div>
        </div>
    </section>
{% endblock %}