{% extends 'base.html.twig' %}

{% block title %}{{ product.name() }} | 3DWWM{% endblock %}

{% block content %}
    <h1>{{ product.name() }}</h1>
    <p class="card-text">par <a href="#">{{ product.designer.name() }}</a></p>
    <div class="row">
        <div class="col-md-4 text-center my-auto">
            <img class="img-fluid rounded" src="/uploads/products/{{ product.image() }}" alt="{{ product.name() }}">
        </div>
        <div class="col-md-8">
            <p class="card-text" style="font-size: 24px">{{ (product.price() / 100) | number_format(2, ',', '.') }}€</p>
            <hr>
            <p class="card-text">{{ product.description() }}</p>
            <p class="card-text">Taille du modèle (mm) : {{ product.size() }}</p>
            <p class="card-text">Catégorie : {{ product.category.name() }}</p>
            <a href="{{ path('app_frontend_cart_index', {id: product.id()}) }}" class="btn btn-primary">Ajouter au panier</a>
        </div>
    </div>
{% endblock %}