{% extends 'base.html.twig' %}

{% block title %}Paiement | 3DWWM{% endblock %}

{% block content %}
    <h1>PAIEMENT</h1>

    <div class="row">
        <div class="col-md-6 text-center my-auto">
            <h3>Montant à payer : <strong>{{ ((order.total / 100) + (order.carrierPrice / 100)) | number_format(2, ',', '.') }}€</strong></h3>
        </div>
        <div class="col-md-6">
            {{ form_start(form) }}
                <div class="row">
                    <div class="col-md-12">{{ form_row(form.name) }}</div>
                    <div class="col-md-12">{{ form_row(form.number) }}</div>
                    <div class="col-md-4">{{ form_row(form.expiryMonth) }}</div>
                    <div class="col-md-4">{{ form_row(form.expiryYear) }}</div>
                    <div class="col-md-4">{{ form_row(form.cryptogram) }}</div>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}